<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% if page.demo %}
    <script src="https://cdn.jsdelivr.net/npm/zipson@0.2.4/dist/zipson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
      {% if page.demo %}
        <div class="demo">
          <div class="demo-header">
            <div class="demo-header-element">
              <div id="demo-indicate"></div>
              <select id="demo-select"></select>
            </div>
            <div class="demo-header-group">
              <div class="demo-header-element">
                <p class="demo-header-label">Compression time</p>
                <p id="demo-time" class="demo-header-metric"></p>
              </div>
              <div class="demo-header-element">
                <p class="demo-header-label">Size reduction</p>
                <p id="demo-saved" class="demo-header-metric"></p>
              </div>
            </div>
          </div>
          <div class="demo-content">
            <div id="demo-editor"></div>
            <code id="demo-output"></code>
            <div id="demo-error">Invalid JSON</div>
          </div>
        </div>
        <script src="{{ '/assets/js/demo.js?v=' | append: site.github.build_revision | relative_url }}"></script>
      {% endif %}
      {{ content }}
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>