<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% if page.demo %}
    <script src="https://cdn.jsdelivr.net/npm/zipson@0.2.4/dist/zipson.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.3.1/ace.js" type="text/javascript" charset="utf-8"></script>
    {% endif %}
  </head>
  <body>
    <section class="page-header">
      <h1 class="project-name">
        <span>
          <svg class="project-icon" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
            width="1280px" height="1280px" viewBox="0 0 1280 1280">
            <g fill="#264150">
              <polygon points="639.999,529.667 808.94,243.498 882.999,118.047 639.999,192.047 397,118.047 471.06,243.498"/>
              <polygon points="233.818,480.737 108.368,406.679 182.368,649.68 108.368,892.68 233.818,818.619 519.988,649.678"/>
              <polygon points="639.999,769.691 471.059,1055.861 397,1181.312 640,1107.312 883,1181.312 808.939,1055.861"/>
              <polygon points="1171.632,406.68 1046.181,480.74 760.012,649.681 1046.181,818.621 1171.632,892.68 1097.632,649.68"/>
            </g>
          </svg>
          {{ site.title | default: site.github.repository_name }}
        </span>
      </h1>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
    </section>

    <section class="main-content">
      {% if page.demo %}
        <div class="demo">
          <div class="demo-header">
            <div class="demo-header-element demo-select-element">
              <div id="demo-indicate"></div>
              <select id="demo-select"></select>
            </div>
            <div class="demo-header-group">
              <div class="demo-header-element" data-tooltip="The time it took to stringify and compress the data with zipson.

Note that this is for a single iteration and is not an accurate benchmark of performance as there can be occasional spikes unrelated to actual zipson performance.">
                <p class="demo-header-label"><i class="help-tip"></i>Compression time</p>
                <p id="demo-time" class="demo-header-metric">-</p>
              </div>
              <div class="demo-header-element" data-tooltip="The amount the output size was reduced by zipson compared to minified JSON of the same data.

If the original data was of length 500, and the zipson output was of length 100, there was a size reduction of 80%.">
                <p class="demo-header-label"><i class="help-tip"></i>Size reduced by</p>
                <p id="demo-saved" class="demo-header-metric">-</p>
              </div>
            </div>
          </div>
          <div class="demo-content">
            <div id="demo-editor"></div>
            <code id="demo-output"></code>
            <div id="demo-error">Invalid JSON</div>
          </div>
        </div>
        <script src="{{ '/assets/js/demo.js?v=' | append: site.github.build_revision | relative_url }}"></script>
      {% endif %}
      {{ content }}
    </section>

    {% if site.google_analytics %}
      <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', '{{ site.google_analytics }}', 'auto');
        ga('send', 'pageview');
      </script>
    {% endif %}
  </body>
</html>